body {
	background: linear-gradient(#999, #bbb);
	height: 100%;
}
table {
	margin: auto;
	border-spacing: 5px;
}
td {
	width: 10%;
	height: 80;
	border-radius: 3px;
	//background: linear-gradient(to bottom right, #2a2, #191);
}
.gradient{
	background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.3))
}
.number {
	text-align: center;
	font-size: 2.5em;
	display: block;
	text-shadow: 2px 2px grey;
}
.letter {
	margin-left: 5px;
	font-size: 1em
}
.total {
	display: block;
	text-align: right;
	margin-right: 5px;
}
